#back {
    color: c.$white;
    background-color: c.$black;
    font-family: 'Roboto';
    font-size: 2em;
    padding: 16px;
    vertical-align: middle;
    width: 100vw;
    box-shadow: 0 0 8px #000000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;

    a:hover {
        color: darken(c.$white, 20);
    }
}